.container {
    background: rgb(209, 210, 211);
    max-width: 1200px;
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 50px auto;
}
.wrapper {
    max-width: 1000px;
    width: 100%;
    min-height: 250px;
    display: flex;
    flex: 1;
    perspective: 1000px;
    transform-style: preserve-3d;
    margin: 0;
}
.box {
    max-width: 500px;
    width: 100%;
    height: 250px;
    background-color: rgb(134, 42, 99);
    border: 5px solid rgb(78, 10, 52);
    transition: all 2s;
    cursor: pointer;
}
.wrapper > .hello {
   opacity: 0;
   position: absolute;
   bottom: 45%;
   left: 46%;
   font-size: 24px;
   letter-spacing: 1.5;
   font-weight: 600;
}
.box:hover .hello {
    animation-name: hello;
    animation-duration: 2s;
    animation-iteration-count: inherit;
    animation-direction: normal;
    animation-timing-function:  ease-out;
    animation-fill-mode: backwards;
}
.wrapper:hover .hello {
   opacity: 1;

}
.block1 {
    transform-origin: left;
    transition: ease-out;
}
.block2 {
    transform-origin: right;
    transition: ease-out;
}
.wrapper:hover > .block1 {
   transform: skewX(20deg);
    transform:  skewY(-5deg);
    transform: rotateY(45deg);
    transform-origin: left;
    transition: 2s ease;
    animation-timing-function: ease;
    margin: 20px;
    margin-right: 100px;
    opacity: 1;
    max-width: 400px;
    animation-fill-mode: backwards;
}
.wrapper:hover > .block2 {
    transform: skewX(-20deg);
    transform:  skewY(5deg);
    transform: rotateY(-45deg);
    transform-origin: right;
    transition: 2s ease;
    margin: 20px;
    margin-left: 100px;
    opacity: 1;
    max-width: 400px;
    animation-fill-mode: backwards;
}
.wrapper:not:hover > .box {
    transition-duration: 0s;
}
.holder {
    max-width: 1200px;
    width: 100%;
    margin: 100px auto;
}
.inner-box {
    max-width: 1200px;
    width: 100%;
    height: 250px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease; 
}
.inner-box-row {
    max-width: 600px;
    width: 100%;
    height: 250px;
    background-color: rgb(238, 240, 240);
    border: 1px solid rgb(220, 222, 223);
    box-sizing: border-box;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.5;
    text-align: center;
}
.inner-block-row {
    max-width: 600px;
    width: 100%;
    height: 250px;
    flex: 1;
    border: 1px solid rgb(220, 222, 223);
    box-sizing: border-box;
}
img {
    max-width: 600px;
    width: 100%;
    height: 250px;
    display: block;
    transition: transform 1s;
}
.inner-box:hover .inner-block-row{
    transform: scale(1);
    animation: scaling 1s alternate ease 1s;
    transform-origin: center center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    transition: 0.3s;
}
.inner-box:hover .inner-box-row {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    transition: 0.3s;
}
@keyframes scaling {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@media (max-width:1600px) {
     .container {
        max-width: 1200px;
     }
       .box {
        max-width: 500px;
     }

}
@media (max-width: 1600px) {
    .holder {
        max-width: 1200px;
    }
    .inner-box {
        max-width: 1200px;
    }
    .inner-box-row {
        max-width: 600px;
    }
     .inner-box-row  .title {
        font-size: 16px;
        max-width: 600px;
     }
    .inner-block-row {
        max-width: 600px;
     }
}
